<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Quotations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center pt-2">
    <h1>Quotation List</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Client
                </th>
                <th>
                    Modify
                </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="quotation : ${quotationList}">
                <tr>
                    <td>
                        [[${quotation.id}]]
                    </td>
                    <td>
                        [[${quotation.product}]]
                    </td>
                    <td>
                        [[${quotation.price}]] €
                    </td>
                    <td>
                        [[${quotation.client.name}]]
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'/quotation/edit/' + ${quotation.id}}">
                            Edit
                        </a>
                        <a class="btn btn-danger" th:href="@{'/quotation/delete/' + ${quotation.id}}">
                            Delete
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>